html{
    scroll-behavior: smooth;
    height: 100vh;
    scroll-snap-type: y proximity;
}
body {
    cursor: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Neutrif-Pro', sans-serif;
    letter-spacing: -0.036em;
    overflow-x: hidden;
    height: auto;
    overflow-y: scroll;
    position: relative;
    box-sizing: border-box;
}
.body__black{
    background: #0f0f12;
    color: white;
}
.body__white{
    background: whitesmoke;
    color: black;
}

a{
    cursor:none;
}
.hidden{
    display: none;
    visibility: hidden;
}
.cursor {
    pointer-events: none;
}
.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;
    z-index: 1000;
}
.cursor__ball--small circle {
    fill: #335c67;
}
.cursor__ball--big circle {
    fill: darkgrey;
}

.hidden{display: none;}
.icon{
    width: 20px;
    height: 20px;
}
.icon--big{
    width: 5vw;
    height: 5vw;
}
.navbar{
    z-index:2;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
}

.banner{
    height: auto;
}
.banner-content{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.triangle{
    position: absolute;
    width: 100%;
    height: 100%;
}
.triangle--right{
    right: 0;
    top: 0;
    background: linear-gradient(to left top, #ca8f38 50%, transparent 50%);
    width: 150%;
    height: 150%;
}
.triangle--left{
    left: 0;
    top: 0;
    background: linear-gradient(to right top, #ca8f38 50%, transparent 50%);
}
.triangle--left-top{
    left: 0;
    top: 0;
    background: linear-gradient(to right bottom, #ca8f38 50%, transparent 50%);

    opacity: 0.2;
}
.triangle--right-bottom{
    right: 0;
    top: 0;
    background: linear-gradient(to left top, #ca8f38 50%, transparent 50%);

    opacity: 0.2;
}
.banner__background-text{
    position: absolute;
    left:0;
    right: 0;
    top:2%;
    margin: auto;
    mix-blend-mode: color-dodge;
    font-size: 15vw;
    max-width: 100vw;
    wrap-option: wrap-break;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: #1b1b1b;
}

@keyframes splitRight {
   to {
    transform: translateX(200%);
    opacity: 0;
   }
}
@keyframes splitLeft {
    to {
        transform: translateX(-200%);
        opacity: 0;
    }
}

.split-right{
    animation: splitRight 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -10s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.split-left{
    animation: splitLeft 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -10s);

    animation-iteration-count: 1;
    animation-fill-mode: both;

}
.banner-content__photo{
    width:100vw;
    height: 100%;
    overflow: visible;
}
.banner-content__photo img{
    width: 37vw;
    height: auto;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 10vw;
    -webkit-filter: drop-shadow(10px 10px 10px #0f0f12);
    filter: drop-shadow(10px 10px 10px #0f0f12);
}

.banner-content__text--left{
    width: 60%;
    height: 100%;
    float:left;
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    z-index: 3;
}
.banner-content__text--left h1{
    text-transform: uppercase;
    font-weight: bold;
    wrap-option: wrap;
    width:100%;
    font-size: 4vw;
    line-height: 4vw;
    margin-top: 2%;
}

.banner-content__text--left>p{
    font-size: 1.7vw;
    font-weight: bold;
    width: auto;
    display: inline-block;
    height: auto;
    padding: 0 0.5em 0 0.5em;
    background-color: #e09f3e;
    color: white;
    border-radius: 2%;
}

.banner-content__text p{
    margin-top: 3%;
    wrap-option: wrap;
    width: 50%;
    text-align: justify;

}
.banner-content__text div{
    text-align: left;
    width: 60%;
}


.button {
    width: 13rem;
    margin-top: 2%;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: solid #e09f3e 2px;
}
.button:hover{
    color: white;
    background-color: #e09f3e;
    border: solid #e09f3e 2px;
}
.button:focus, .button:active, .button:visited{
    color: white;
    background-color: #111111;
    border: solid white 2px;
    box-shadow: none;
}
.rectangle{
    width: 100vw;
    height: 50vh;
    margin-bottom: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interests-wrapper{
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    justify-content: center;
    position: relative;
    grid-gap: 3rem;
}
.interest{
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

}
.interest .face{
    width: 100%;
    height: 100%;
    background-color: #172d2e;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
    -webkit-font-smoothing: antialiased;
}
.face div{
    backface-visibility: hidden;
    display: inline-block;
    width: 60%;
}
.face.back p{
    text-align: justify;
    font-size: 13px;
}
.face *{
    transform: translateZ(40px);
}
.interest:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.interest .face.back{
    transform: perspective(500px) rotateY(180deg);
}
.interest:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
}
.interest div>*{
    width: 75%;
    margin: auto;
    font-weight: bold;
}
.interest h1{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 21px;
    font-weight: bold;
    color: white;
    padding-top: 2rem;
}
.interest>div{
    height: 100%;
    width: 100%;
}



/*FIXED BACKGROUND IMAGE*/
.fixed-background__image  {
    background: url(images/titlephoto.jpg) no-repeat fixed 50% 15% ;
    background-attachment: fixed;
    -webkit-background-size: cover;
    position: relative;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fixed-background__caption{
    display: inline-block;
    text-align: center;
}

.fixed-background__caption h2{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    position: relative;
    color: white;
    width: 100%;
}
.fixed-background__caption button{
    position: relative;
}
.fixed-background__caption button a {
    text-decoration: none;
    color: white;
}

.fixed-background__image--opacity{
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
}



*, :after, :before {
    box-sizing: border-box;
}



/* PROJECTS */

.projects-background-text{
    padding-top: 5rem;
    position: relative;
    left:0;
    right: 0;
    margin: auto;
    mix-blend-mode: color-dodge;
    font-size: 15vw;
    max-width: 100vw;
    wrap-option: wrap-break;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: #1b1b1b;
}
.horizontal-scroll-container{
    position: sticky;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;

}
.horizontal-scroll-container section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.single-item {
    padding: 15px;
    position:relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-item > div {
    width: 100vw;
    height: 100vw;
    max-width: 90%;
    max-height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-scroll-container .single-item {
    flex: 0 0 100vw;
}
.horizontal-scroll-container .single-item-content{
    position: relative;
    width: 100%;
    height: 100%;
}
.single-item-content__text{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin: auto;
    padding: 0 0 0 5%;
    width: 50%;
    height: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    border-left: solid #e09f3e 1px;

}
.single-item-content__text div{
    display: inline-block;
}
.single-item-content__text h1{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 21px;
    font-weight: bold;
    color: #e09f3e;
}
.single-item-content__text h2{
    width: 90%;
    font-size: 42px;
    font-weight: bold;
    margin-top:2%;
}
.single-item-content__text p{
    text-align: justify;
    font-size: 15px;
    width: 80%;
    height: auto;
    padding-top: 4%;
}

.single-item-content__image{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 5%;
    overflow:hidden
}
.single-item-content__image img{
    width:90%;
    height: 90%;
    display: block;
    position: absolute;
    object-fit: cover;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    opacity: 0.8;
}

.single-item-content__image img:hover{
    transform: scale(1.1);
}
main{
    position: relative;
}

.snap-here{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.snap-end{
    scroll-snap-align: none;
    scroll-snap-stop: revert;
}
.projects{
    position: relative;
    height: auto;
}
.footer{
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 50vh;
    bottom:-50vh;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-content{
    position: relative;
}
.footer-text h1{
    padding-top: 5%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 5vw;
}
.footer-text h2{
    text-align: center;
    font-weight: bold;
    padding-top: 2rem;
}
.footer-text a{
    font-size: large;
    padding-top: 1rem;
    display:block;
    text-align: center;
    font-weight: bold;
    color: white;
}
.footer-span{
    position: relative;
    margin-top: 2%;
    width:100%;
    height: auto;
}

.arrow{
    width: 20%;
    height: 20%;
}

.project-about-text{
    position: relative;
    width: 100%;
    height: 50vh;

}
.project-about-text p{
    width: 70%;
    height: auto;
    text-align: center;
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
}
.screenshots{
    max-width: 100vw;
    display: inline-block;
    text-align: center;
}
.screenshots img{
    max-width: 95vw;
    margin-bottom: 10%;
    -webkit-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    -moz-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
}




/* MOBILE */
@media (max-width: 991px) {
    .hidden-for-mobile{
        display: none;
        visibility: hidden;
    }
    .rectangle{
        height: auto;
    }
    .interests-wrapper{
        grid-template-columns: 1fr;
        height: auto;
        width: 40vw;

    }
    .snap-here-start{
        scroll-margin-top: 4.5rem;
        scroll-snap-align: start;
    }
    .interest{
        height: 50vh;
        width: 100%;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;

    }
    .interest .face{
        width: 100%;
        height: 50%;
        background-color: #172d2e;
        position: relative;
        transition: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face div{
        display: inline-block;
        width: 80%;
    }
    .face.back p{
        text-align: justify;
        font-size: 13px;
    }

    .interest:hover .face.front,  .interest:hover .face.back{
        transform: none;
    }
    .interest .face.back{
        transform: perspective(500px) rotateY(0deg);
    }
    .fixed-background__image--opacity{
        background-color: #0f0f12;
    }
    .horizontal-scroll-container{
        position: relative;
        transform: none !important;
    }
    .horizontal-scroll-container section{
        display: grid;
        grid-template-rows: repeat(5, 150vh);
        max-width: 100%;
        width: 100vw;
        height: auto;
    }
    .single-item{
        height: auto;
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .single-item>div{
       display: flex;
        max-width: 100%;
        text-align: center;

    }
    .single-item-content{
        height: auto !important;
        width: 90%!important;
        display: inline-block;
        position: relative;
        text-align: center;
        border-left: solid #e09f3e 1px;
    }
    .single-item-content__text{
        position: relative;
        max-width: 100%;
        width: 100vw;
        height: auto;
        text-align: center;
        padding: 0;
        margin: 0;
        border: none;
    }
    .single-item-content__text>div{
        width: 90%;
    }
    .single-item-content__text h1{
        width: 100%;
    }
    .single-item-content__text h2{
        width: 100%;
    }
    .single-item-content__text p{
        width: 90%;
        margin: auto;
    }
    .single-item-content__image{
        position: relative;
        width:90vw;
        height: 90vw;
        float: none;
        display: inline-block;
        padding:0;
    }
    .single-item-content__image img{
        margin-bottom: 0;

    }
    .single-item-content__image img:hover{transform: none;}

    .footer{
        height: 50vh;
        bottom:0;
        color: white;
        z-index: 2;

    }
}


