html{
    scroll-behavior: smooth;
    height: 100%;
    /*scroll-snap-type: y proximity;*/
    min-height:100%;
    display:block;
}
body {
    cursor: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Neutrif-Pro', sans-serif;
    letter-spacing: -0.036em;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    box-sizing: border-box;
}
.body__black{
    background: #0f0f12;
    color: white;
}
.body__white{
    background: #f0f0f0;
    color: black;
}

a{
    cursor:none;
}
h1{
    font-size: 42px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    font-weight: bold;
}
h3{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 21px;
    font-weight: bold;
}
p{
    font-size: 15px;
}
.hidden-for-pc{
    display: none;
    visibility: hidden;
}
.cursor {
    pointer-events: none;
}
.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    z-index: 1000;
}
.cursor__ball--small circle {
    fill: black;
}
.cursor__ball--big circle {

    fill: lightgray;
}

.hidden{display: none;}
.icon{
    width: 20px;
    height: 20px;
}
.icon--big{
    width: 5vw;
    height: 5vw;
}
.navbar{
    z-index:5;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
}
.nav-item img{
    color: black;
}
#js-nav-menu div{
    width: 20px;
    height: 2px;
    border-bottom: 2px solid black;
    margin: 5px 0;
    transition: 0.4s;
}
#nav {
    display: block;
    margin:0;
    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}
#nav .nav-menu .active {
    color:#e09f3e;
}
#nav .nav-menu a:hover , #nav .nav-footer-customer-service a:hover{
    color: black;

}
#navigation{
    list-style-type: none;
}

#nav .nav-menu a{
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    width: 75vw;
    line-height: 10vw;
    height: auto;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: bold;
    float:left;
    color: white;
    transition: 0.3s;
    position: relative;
}
.nav__vertical-line{
    margin-top: 60px; /* Place content 60px from the top */
    margin-left:20%;
    padding-left: 5%;
    height: auto;
    width: 20vw;
    border-left: solid #e09f3e 3px;
    display: inline-block;
    position: relative;
}

/* menu icon animation */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-5px, -5px) ;
}

.banner{
    height: auto;
    position: relative;
}
.banner-content{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.triangle{
    position: absolute;
    width: 100%;
    height: 100%;
}
.triangle--right{
    right: 0;
    bottom: 0;
    background: linear-gradient(to left top, #ca8f38 50%, transparent 50%);
}
.triangle--left{
    left: 0;
    top: 0;
    background: linear-gradient(to right top, #ca8f38 50%, transparent 50%);
}
.triangle--left-top{
    left: 0;
    top: 0;
    background: linear-gradient(to right bottom, #ca8f38 50%, transparent 50%);
}
.triangle--right-bottom{
    right: 0;
    top: 0;
    background: linear-gradient(to left top, #ca8f38 50%, transparent 50%);
    opacity: 0.2;
}
.project-banner-content{
    width: 100vw;
    max-width: 100vw;
    height: 60vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.project-banner-content__background-text{
    position: absolute;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.project-banner-content__background-text h1{
    text-align: center;
    font-size: 14vw;
    color: white;
    width: 100vw;
    text-transform: uppercase;
}
.project-title div h1{
    position: relative;
    text-align: center;
    font-size: 3vw;
    padding: 1rem;
    wrap-option: wrap;
    height: auto;
    width: auto;
    border-top: solid #e09f3e 2px;
}
.project-title div h3{
    position: relative;
    color: #e09f3e;
    text-align: center;
}
.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}
.project-title div{
    display: inline-block;
    width: auto;
    margin: auto;
}
.banner__background-text{
    position: absolute;
    left:0;
    right: 0;
    top:2%;
    margin: auto;
    mix-blend-mode: soft-light;
    font-size: 14vw;
    max-width: 100vw;
    wrap-option: wrap-break;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: white;
}
/*
@keyframes splitRight {
   to {
    transform: translateX(200%);
    opacity: 0;
   }
}
@keyframes splitLeft {
    to {
        transform: translateX(-200%);
        opacity: 0;
    }
}*/

.split-right{
    animation: splitRight 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -10s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.split-left{
    animation: splitLeft 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -10s);

    animation-iteration-count: 1;
    animation-fill-mode: both;

}
.banner-content__photo{
    width:100vw;
    height: 100%;
    overflow: visible;
}
.banner-content__photo img{
    max-width: 50%;
    width: 37vw;
    height: auto;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 10vw;
    -webkit-filter: drop-shadow(10px 10px 10px #0f0f12);
    filter: drop-shadow(10px 10px 10px #0f0f12);
}

.banner-content__text{
    width: 60%;
    height: 100%;
    float:left;
    position: relative;
    display: inline-block;
    padding-top: 10%;
    padding-left: 10%;
    z-index: 3;
}
.banner-content__text h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    wrap-option: wrap;
    width:70%;
    margin-top: 2%;
}

.banner-content__text>p{
    font-size: 30px;
    font-weight: bold;
    display: inline;
    width: auto;
    height: auto;
    padding: 0.15em 0.5em 0.15em 0.5em;
    background-color: #e09f3e;
    color: white;
    border-radius: 2%;
}

.banner-content__text p{
    margin-top: 3%;
    wrap-option: wrap;
    width: 90%;
    text-align: justify;

}
.banner-content__text div{
    text-align: left;
    width: 60%;
}


.button {
    width: 13rem;
    margin-top: 2%;
    font-weight: bold;
    background-color: transparent;
    border: solid #e09f3e 2px;
}
.button:hover{
    background-color: #e09f3e;
    border: solid #e09f3e 2px;
    color: #f0f0f0;
}
.button:focus, .button:active, .button:visited{
    background-color: #ca8f38;
    color: #f0f0f0;
    border: solid white 2px;
    box-shadow: none;
}
.rectangle{
    background-color: #ffffff;
    width: 100vw;
    height: 50vh;
    margin-bottom: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interests-wrapper{
    width: 100vw;
    height:35vh;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    justify-content: center;
    position: relative;
    grid-gap: 3rem;
}
.interest{
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;


}
.interest .face{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    mix-blend-mode: color-dodge;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 2px 20px 56px -15px rgba(166,166,166,1);
    -moz-box-shadow: 2px 20px 56px -15px rgba(166,166,166,1);
    box-shadow: 2px 20px 56px -15px rgba(166,166,166,1);
}
.face div{
    backface-visibility: hidden;
    display: inline-block;
}
.face.back p{
    text-align: justify;
    font-weight: normal;
    font-size: 13px;
}
.face *{
    transform: translateZ(40px);
}
.interest:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.interest .face.back{
    transform: perspective(500px) rotateY(180deg);
}
.interest:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
}
.interest div>*{
    width: 90%;
    margin: auto;
    font-weight: bold;
}
.interest h3{
    padding-top: 2rem;
}
.interest>div{
    height: 100%;
    width: 100%;
}



/*FIXED BACKGROUND IMAGE*/
.resume{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume__background  {
    width: 70%;
    height: 90%;
    background-color: #1d3b3d;
    position: absolute;
    right:10%;
    display: flex;
    align-items: center;
}
.resume__background-image{
    width: 50%;
    height: auto;
    position: absolute;
    left:10%;
    z-index: 1;
    -webkit-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    -moz-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
}
.resume__background-image img{
    height:auto;
    width: 100%;

}

.resume__caption{
    position: absolute;
    right: 7%;
    display: inline-block;
    text-align: center;
}

.resume__caption h2{
    text-align: center;
    position: relative;
    color: #e2e2e2;
    width: 100%;
}
.resume__caption button{
    position: relative;
}
.resume__caption button a {
    text-decoration: none;
    color: white;
}

.resume__background-image--opacity{
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
}



*, :after, :before {
    box-sizing: border-box;
}



/* PROJECTS */

.projects__background-text{
    transform: translateX(-200vw);
    padding-top: 5rem;
    position: absolute;
    left:0;
    margin: auto;
    mix-blend-mode: color-dodge;
    font-size: 18vw;
    text-align: center;
    width: 100vw;
    wrap-option: wrap-break;
    overflow: hidden;
    font-weight: bold;
    color: white;
}
@keyframes scrollRight {
    to {
        transform: translateX(200%);
    }
}

@keyframes scrollLeft {
    to {
        transform: translateX(-200%);
    }
}
.hidden-for-animation{opacity: 0}
.scroll-right{
    animation: scrollRight 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll-left) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.scroll-left{
    animation: scrollLeft 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll-left) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.horizontal-scroll-container{
    position: relative;
    top:0;
    left: 0;
    width: 100vw;
    height: 500vh;
    max-width: 100%;
    display: flex;
}
.horizontal-scroll-container section{
    transform:translateX(200%);
    position: sticky;
    position: -webkit-sticky;
    top:0;
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.single-item {
    padding: 15px;
    position:relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-item > div {
    width: 100vw;
    height: 100vw;
    max-width: 90%;
    max-height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-scroll-container .single-item {
    flex: 0 0 100vw;
}
.horizontal-scroll-container .single-item-content{
    position: relative;
    width: 100%;
    height: 100%;
}
.single-item-content__text{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin: auto;
    padding: 0 0 0 5%;
    width: 50%;
    height: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    border-left: solid #e09f3e 2px;

}
.single-item-content__text div{
    display: inline-block;
}
.single-item-content__text h3{
    color: #e09f3e;
}
.single-item-content__text h1{
    width: 90%;
    margin-top:2%;
}
.single-item-content__text p{
    text-align: justify;
    width: 80%;
    height: auto;
    padding-top: 4%;
}

.single-item-content__image{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 5%;
    overflow:hidden
}
.single-item-content__image img{
    width:85%;
    height: 85%;
    display: block;
    position: absolute;
    object-fit: cover;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    -moz-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
}

.single-item-content__image:hover{
    transform: scale(1.1);
}
main{
    position: relative;
    -webkit-transform: translate3d(0,0,0);
}

.snap-here{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-margin: 0;
    -webkit-transform: translate3d(0,0,0);
}

.snap-here-start{
    scroll-snap-align: none;
}
.projects{
    position: relative;
    height: auto;
}
.footer{
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 70vh;
    bottom:-70vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #0f0f12;
}
.footer-content{
    position: relative;
}
.footer-text h1{
    font-size: 5vw;
    padding-top: 5%;
    text-align: center;

}
.footer-text h2{
    text-align: center;
    padding-top: 2rem;

}
.footer-text a{
    text-decoration: underline;
    padding-top: 1rem;
    display:block;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    color: white;
    mix-blend-mode: color-dodge;
}
.footer-span{
    position: relative;
    margin-top: 2%;
    width:100%;
    height: auto;
}

.arrow{
    width: 20%;
    height: 20%;
}

.project-about-text{
    position: relative;
    width: 100vw;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.project-about-text div{
    display: inline-block;
}
.project-about-text p{
    width: 60%;
    height: auto;
    text-align: justify;
    left: 0;
    right: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}
.screenshots{
    max-width: 100vw;
    display: inline-block;
    text-align: center;
}
.screenshots h2{
    padding-bottom: 1rem;
    text-align: left;
    padding-left: 10%
}
.screenshots img{
    max-width: 80vw;
    margin-bottom: 10%;
    -webkit-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    -moz-box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
    box-shadow: 10px 21px 33px -4px rgba(94,94,94,0.69);
}




/* MOBILE */
@media (max-width: 812px){
    body{
        cursor: auto;
    }
    .nav-item{
        margin-right: 16px;
    }

    .hidden-for-mobile{
        display: none;
        visibility: hidden;
    }

    .banner{
        height: 100vh;
        width: 100vw;
    }
    .banner-content__text{
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        padding: 20% 0 0 0;
    }
    .banner-content__text>p{
        text-align: center;
        width: auto;
    }
    .banner-content__text--small{
        width: 100%;
        position: absolute;
        bottom:1rem;
        left:0;
        right: 0;
        color: white;
        margin: auto;
    }
    .banner-content__text--small p{
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .banner-content__text h1{
        width: 100%;
    }

    .banner-content__photo img{
        width: 80vw;
        max-width: 100vw;
        height: auto;
        position: absolute;
        margin: auto;
        bottom: 0;
        right: 0;
        left:0;
    }
    .banner__background-text{
       top:50%
    }
    .triangle--right{
        width: 100%;
        height: 70%;
    }

    .rectangle{
        height: auto;
        margin-bottom: 3em;
    }
    .interests-wrapper{
        grid-template-columns: 1fr;
        height: auto;
        width: 70vw;
        margin-bottom:5em;
        padding-top:5em;
    }
    .snap-here-start{
        scroll-margin-top: 50px;
        scroll-snap-align: start;
    }
    .snap-here{
        scroll-snap-align: none;
    }
    .interest{
        height: 30vh;
        width: 100%;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;

    }
    .interest .face{
        width: 100%;
        height: 50%;
        position: relative;
        transition: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face div{
        display: inline-block;
        width: 80%;
    }
    .face.back p{
        text-align: justify;
        font-size: 13px;
    }

    .interest:hover .face.front,  .interest:hover .face.back{
        transform: none;
    }
    .interest .face.back{
        transform: perspective(500px) rotateY(0deg);
    }

    .resume__background{
        height: 40%;
        width: 80%;
        right: 0;
        position: relative;
        align-items:  center;
    }
    .resume__background-image{
        width: 100%;
        position: absolute;
        top:0;
        left:0;
    }
    .resume__caption{
        right: 0;
        left:0;
        margin: auto;
    }
    .hidden-for-pc{
        visibility: visible;
    }
    .projects__background-text-x{
        position: relative;
        display: inline-block;
        width: 100vw;
        height:50vw;
        overflow: hidden;
        font-size: 18vw;
        text-align: center;
        font-weight: bold;
        left:0;
        color: white;
        transform: none;
        margin-top: -5rem;
        margin-bottom: -10rem;
    }
    .horizontal-scroll-container{
        position: relative;
        transform: none !important;
        height: auto;
        margin-bottom: 50vh;
    }
    .horizontal-scroll-container section{
        transform:translateX(0%);
        display: grid;
        grid-template-rows: repeat(5, 130vh);
        max-width: 100%;
        width: 100vw;
        height: auto;
    }
    .single-item{
        height: auto;
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .single-item>div{
       display: flex;
        max-width: 100%;
        text-align: center;

    }
    .single-item-content{
        height: auto !important;
        width: 90%!important;
        display: inline-block;
        position: relative;
        text-align: center;
        border-left: solid #e09f3e 1px;
    }
    .single-item-content__text{
        position: relative;
        max-width: 100%;
        width: 100vw;
        height: auto;
        text-align: center;
        padding: 0;
        margin: 0;
        border: none;
    }
    .single-item-content__text>div{
        width: 90%;
    }
    .single-item-content__text h1{
        width: 100%;
    }
    .single-item-content__text h2{
        width: 100%;
    }
    .single-item-content__text p{
        width: 90%;
        margin: auto;
    }
    .single-item-content__image{
        position: relative;
        width:90vw;
        height: 90vw;
        float: none;
        display: inline-block;
        padding:0;
    }
    .single-item-content__image img{
        margin-bottom: 0;

    }
    .single-item-content__image img:hover{transform: none;}

    .footer{

        height: 40vh;
        bottom:0;
        color: black;
        z-index: 2;
    }
    .footer a{
        font-size: 20px;
        color:#0f0f12 ;
    }
}


